<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zlc.season.samplelibrary">

    <application>
        <activity android:name=".FooLibraryActivity" />
        <activity android:name=".BarLibraryActivity"></activity>
    </application>

</manifest>