<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zlc.season.samplelibrary">

    <application>
        <activity
            android:name=".LibraryUrlForResultActivity"
            android:label="LibraryUrlForResultActivity" />

        <activity
            android:name=".LibraryActionForResultActivity"
            android:label="LibraryActionForResultActivity">
            <intent-filter>
                <action android:name="zlc.season.samplelibrary.action_for_result" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LibraryClassForResultActivity"
            android:label="LibraryClassForResultActivity" />
    </application>

</manifest>